@import "bootstrap";
@import "font-awesome";
@import "toastr";
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  color: #565A5C;
  background-color: #f8f8f8;
  font-family: 'Varela Round', sans-serif;
}

a {
  color: #00A699;

  &:hover,  &:focus {
    color: #565A5C;
  }
}

.teal {
  color: #00A699;
}

.red {
  color: #FF5A5F;
}

.container {
  width: 80%;
}

//AVATAR
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

// NAVBAR
.navbar-default {
  z-index: 1;

  .navbar-brand {
    color: #FF5A5F;
    font-size: 25px;
  }
}

//FORMS
.form-group {
  margin-bottom: 25px;

  input {
    height: 45px;
    border: 1px solid #00A699;
  }

  input[type="checkbox"] {
    height: 1.25em;
    width: 1.25em;
    margin-bottom: -0.25em;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid #00A699;
    border-radius: 2px;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari & Chrome */

    &:checked:before {
      content: '\2713';
      position: absolute;
      font-size: 0.95em;
      text-align: center;
      width: 1.25em;
      color: #00A699;
    }
  }

  textarea {
    border: 1px solid #00A699;
  }

  select {
    width: 100%;
    color: #565A5C;
    background-color: white;
    border: 1px solid #00A699;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #00A699;
  top: 42px;
  right: 30px;
  transform: scale(0.94, 0.62);
}

.form-control {
  border-radius: 2px;
  height: 3rem;
}

//BUTTONS
.btn {
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;

  &.btn-default {
    width: 100%;
    border-color: #C4C4C4;
    background: white;
    color: #484848;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;
  }

  &.btn-normal {
    border: 1px solid #FF5A5F;
    background-color: #FF5A5F;

    &:active {
      outline: none;
      border-color: #E00007;
      background-color: #E00007;
    }
  }

  &.btn-form {
    border: 1px solid #00A699;
    background-color: #00A699;

    &:active {
      outline: none;
      border-color: #099165;
      background-color: #099165;
    }
  }

  &.btn-facebook {
    border: 1px solid #3B5998;
    background-color: #3B5998;

    &:active {
      outline: none;
      border-color: #2D467B;
      background-color: #2D467B;
    }
  }

  &:hover,  &:focus {
    color: #CACCCD;
    text-decoration: none;
  }
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

//SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888A;
}

.sidebar-link {
  color: #82888A;
  text-decoration: none;

  &.active {
    color: #565A5C;
    font-weight: bold;
    text-decoration: none;
  }

  &:hover, &:focus {
    color: #CACCCD;
    text-decoration: none;
  }
}

//CARD
.card-header {
  color: #FFFFFF;
  background-color: #00A699;
  font-size: 18px;
  font-weight: 400;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}